<!DOCTYPE html>
<html>
<head>
    <title>Material and Process Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome!</h1>
    </header>
    <div class="container">
        <p>Please select an option:</p>
        <ul>
            <li><a href="/material_selection">Material Selection</a></li>
            <li><a href="/process_selection">Process Selection</a></li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 material and process selection </p>
    </footer>
</body>
</html>
